:root {
	--white: white;
	--black: black;
	--grey: lightgrey;
	--darkGrey: #444444;
	--containerMargin: 35px;
	--menuLineSize: 1px;
	--menuSize: 100px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--black);
	font-family: 'Made Outer Sans Regular';
	color: var(--white);
	overscroll-behavior: none;
}

@font-face {
	font-family: 'Made Outer Sans Medium';
	src: url('assets/fonts/made-outer-sans/made-outer-sans-medium.otf');
}
@font-face {
	font-family: 'Made Outer Sans Regular';
	src: url('assets/fonts/made-outer-sans/made-outer-sans-regular.otf');
}
@font-face {
	font-family: 'Made Outer Sans Light';
	src: url('assets/fonts/made-outer-sans/made-outer-sans-light.otf');
}
@font-face {
	font-family: 'Made Outer Sans Thin';
	src: url('assets/fonts/made-outer-sans/made-outer-sans-thin.otf');
}
